/*
 * jQuery Nivo Slider - Adapting images
 * http://ramblinglabs.com
 *
 * Copyright 2011, Rambling Labs
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * September 2011
 */
.theme-default #slider.adaptingSlider {
    /*width: 750px;*/
    /*height: 299px;*/
    width: 50%;
    height: auto;
}

.adaptingSlider img.currentImage {
    display: block;
    width: 100%;
    position: relative;
}

.adaptingSlider .nivo-box img,
.adaptingSlider .nivo-slice img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
